<form action="/categories" method="post">
<%  @categories.each do |category|%>
<p><input type="checkbox" name=<%= category.name %> > <%= category.name %> </p>

<%end%>
<input type="submit" value="submit" >
</form>