
<div class="card text-center">
<div class="card-header">
<h5>categories</h5>
</div>
<div class="card-body">
<div class="class-text">
<form action="/categories" method="post">
<%  @categories.each do |category|%>
<p><input type="checkbox" name=<%= category.name %> <%= 'checked' if @user_categories.include?(category) %> > <%= category.name %> </p>

<%end%>
<input class="btn btn-success" type="submit" value="update" >
</form>
</div>
</div>
</div>