<div class="spaced">
<div class="card">
<div class="card-header">
    Welcome
</div>
<div class="card-body text-center">
    <p>
    Welcome to the microlearning up. Here you can create an account,<br>
    specify the categories your interested in and you will get articles<br>
    related to your interests on a daily basis.
    </p>
    <a class="btn btn-success" href="/login">Login</a>
    <a class="btn btn-success" href="/signup">Signup</a>
</div>
</div>
</div>